body {
    color: gold;
    background-color: cadetblue;
    margin-left: 200px;
}

h1 {
    color: orange;
}

h2 {
    color: navajowhite;
}

button#reset {
    position: absolute;
    top: 450px;
    left: 350px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
}
